
<script type="text/javascript" src="<%= global.config.urls.static %>/layui/layui.all.js"></script>
<script type="text/javascript" src="<%= global.config.urls.static %>/layui/jquery.min.js"></script>
  <link rel="stylesheet" href="<%= global.config.urls.static %>/layui/css/layui.css">
<!-- 内容主体区域 -->
<div style="margin:12px 12px 8px 12px;">
	<table class="layui-hide" id="TableOne" lay-filter="TableOne"></table>
</div>
<div style="margin:12px 12px 8px 12px;">
	<p>添加造型的两种模式：</p>
	<P>1、SVG格式：三个参数分别为：自定宽、自定高、1（宽高比与SVG真实宽高比一致）</P>
	<P>2、其他格式：三个参数分别为：真实宽/2、真实高/2、2（图片格式可以是:JPG、PNG）</P>
	<P>提示：可以先直接在Scratch造型中上传文件，会得到半宽与半高，再按提示修改原图片文件尺寸。</P>
</div>

<style>
	.layui-table-cell{
		height: auto!important;
	}
	.costumeImage{
		height: 68px !important;
		white-space: normal;
	}
</style>
<script type="text/html" id="imgTemp">
	<img class="costumeImage" src="/material/asset/{{d.md5}}">
</script>

<script type="text/html" id="TableOne_bar">
	<div class="layui-btn-container">
		<% tags.forEach(function(item){ %>
			<button id="tag_btn<%=item.id%>" class="layui-btn layui-btn-sm" lay-event="showMates" data-id='<%=item.id%>'><%=item.tag%></button>
		<% }) %>
		<button id="add_mate_btn" class="layui-btn layui-btn-sm layui-btn-danger layui-hide" lay-event="AddMate">添加造型</button>
	</div>
	</script>
	<script type="text/html" id="TableOne_tool">
		{{#  if(d.state === 0){ }}
		<span class="layui-btn layui-btn-xs" lay-event="setState" data-v='1'>启用</span>
		{{#  } else { }}
		<span class="layui-btn layui-btn-xs layui-btn-danger" lay-event="setState" data-v='0'>停用</span>
		{{#  } }}
		<span class="layui-btn layui-btn-xs layui-btn-danger" lay-event="DelMate">删除</span>
	</script>
</body>

<script type="text/javascript" src="<%= global.config.urls.static %>/js/admin/material_costume.js"></script>
</html>