<!-- 各管理平台的欢迎页面 -->
<style>
#top_box{
	position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
#top_bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
	bottom: 0;
	
    z-index: -10;
    background-position: center;
    background-size: cover;
	background-attachment: fixed;
	background-image: url(<%= process.env.staticurl %>/img/web/sybj.jpg);
}
#top_overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
	z-index: -9;
    opacity: .68;
	background: #333333;
}
</style>

<div id="top_box">
	<div id="top_bg"></div>
	<div id="top_overlay"></div>
		
	<div id='header-box' style="color:#FFF;">
		<img id="avatar_img" src="<%= process.env.staticurl %>/img/logo.png" style="margin-top: 128px;">
		<h3 style="font-size:x-large; margin: 24px 0;">欢迎使用<%= process.env.SiteName %></h3>
		<div><%= process.env.SiteName %>,每一行代码都足以改变世界</div>
	</div>
</div>

<script type="text/javascript" src="<%= process.env.staticurl %>/js/jquery.min.js"></script>
<script type="text/javascript" src="<%= process.env.staticurl %>/layui/layui.all.js"></script>
