

<script type="text/javascript" src="<%= process.env.staticurl %>/layui/layui.all.js"></script>
<script type="text/javascript" src="<%= process.env.staticurl %>/layui/jquery.min.js"></script>
  <link rel="stylesheet" href="<%= process.env.staticurl %>/layui/css/layui.css">	
<style>
	.count_show{
		height:100px;
		font-size: 50px;
		text-align: center;
		margin-top: 50px;
	}
</style>

<!-- 内容主体区域 -->
<div style="margin:12px 12px 8px 12px;">
	<div class="layui-tab layui-tab-brief" lay-filter="demoTitle">
		<div class="layui-row">
			<div class="layui-row layui-col-space15" style="margin-top:10px">
				<div class="layui-col-sm2 layui-col-md2">
					<div class="layui-card">
						<div class="layui-card-header">用户数</div>
						<div class="layui-card-body layuiadmin-card-list count_show" style="color: green;">
							<p class="layuiadmin-big-font"><%= user_count %></p>
						</div>
					</div>
				</div>

				<div class="layui-col-sm2 layui-col-md2">
					<div class="layui-card">
						<div class="layui-card-header">Scratch作品数</div>
						<div class="layui-card-body layuiadmin-card-list count_show"style="color: #F21;">
							<p class="layuiadmin-big-font"><%= scratch_count %></p>
						</div>
					</div>
				</div>

				
				<div class="layui-col-sm2 layui-col-md2">
					<div class="layui-card">
						<div class="layui-card-header">Python作品数</div>
						<div class="layui-card-body layuiadmin-card-list count_show"style="color: #098;">
							<p class="layuiadmin-big-font"><%= python_count %></p>
						</div>
					</div>
				</div>	

				<div class="layui-col-sm2 layui-col-md2">
					<div class="layui-card">
						<div class="layui-card-header">背景素材数</div>
						<div class="layui-card-body layuiadmin-card-list count_show"style="color: #F72;">
							<p class="layuiadmin-big-font"><%= backdrop_count %></p>
						</div>
					</div>
				</div>
	
		
				<div class="layui-col-sm2 layui-col-md2">
					<div class="layui-card">
						<div class="layui-card-header">角色素材数</div>
						<div class="layui-card-body layuiadmin-card-list count_show"style="color: #c82;">
							<p class="layuiadmin-big-font"><%= sprite_count %></p>
						</div>
					</div>
				</div>

				
			</div>
		</div>
		<!--<div class="layui-row layui-col-space15" style="margin-top:10px">
			<div class="layui-col-sm12">
				<div class="layui-card">
					<div class="layui-card-header">推送消息</div>
					<div class="layui-card-body layuiadmin-card-list">
						<div class="layui-form-item layui-form-text form-group" style="margin-top:35px">
							<label class="layui-form-label">标题</label>
							<div class="layui-input-block">
								<input type="text" name="title" required="" lay-verify="required"
									placeholder="请输入标题" autocomplete="off" class="layui-input" id="ts-all-title">
							</div>
						</div>
						<div class="layui-form-item layui-form-text form-group">
							<label class="layui-form-label">推送内容</label>
							<div class="layui-input-block">
								<textarea placeholder="请输入内容" class="layui-textarea" id="ts-all-content"></textarea>
							</div>
						</div>

						<button type="button" class="layui-btn " id="ts-all" style="margin-left:110px;margin-bottom:35px">开始推送</button>
					</div>
				</div>
			</div>
		</div>-->
	</div>
</div>