<!DOCTYPE html>
<html>
<head>
  <title>系统管理平台</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="<%= process.env.staticurl %>/img/siteicon.png">
  <link rel="stylesheet" href="https://npm.elemecdn.com/mdui@1.0.2/dist/css/mdui.min.css"/>
  <script src="https://npm.elemecdn.com/mdui@1.0.2/dist/js/mdui.min.js"></script>
  <script> function automsg(msg) {
      automsg({
   
          buttonText: '关闭',
           message:msg,
          });
  };</script>
  
  
  <link rel="stylesheet" href="<%= process.env.staticurl %>/layui/css/layui.css">	
  <link id="layui_theme_css" rel="stylesheet" href="<%= process.env.staticurl %>/css/layui-theme-dark.css">
<%- process.env.includecode %></head>
<body class="mdui-theme-light layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <!-- 头部区域 -->
  <div class="layui-header" style="width: 100%;">
    <div class="layui-logo">
      <a href="/"><img src="<%= process.env.staticurl %>/img/logo_w.png" style="width: 120px;margin:0 20px"></a>
    </div>    

  
  </div>
  <!-- 左侧导航区域 -->
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <ul class="layui-nav layui-nav-tree">

  <li class="layui-nav-item">
    <a href="/admin/info" class="tar"><i class="layui-icon layui-icon-home" style="margin-right: 8px;"></i>平台概况</a>
  </li>
  <li class="layui-nav-item">
    <a href="/ads" class="tar"><i class="layui-icon layui-icon-home" style="margin-right: 8px;"></i>首页头图设置</a>
  </li>
  <li class="layui-nav-item">
    <a href="/admin/user" class="tar"><i class="layui-icon layui-icon-user" style="margin-right: 8px;"></i>用户管理</a>
  </li>
  <li class="layui-nav-item">
    <a href="/admin/works/scratch" class="tar"><i class="layui-icon layui-icon-list" style="margin-right: 8px;"></i>Scratch作品管理</a>
  </li>
  <li class="layui-nav-item">
    <a href="/admin/works/python" class="tar"><i class="layui-icon layui-icon-list" style="margin-right: 8px;"></i>Python作品管理</a>
  </li>
  <li class="layui-nav-item">
    <a href="javascript:;"><i class="layui-icon layui-icon-picture" style="margin-right: 8px;"></i>素材管理</a>
      <dl class="layui-nav-child">
        <dd>
          <a href="/admin/material/tag" class="tar" ><i class="layui-icon layui-icon-set" style="margin-right: 8px;"></i>标签管理</a>
        </dd>
        <dd>
          <a href="/admin/material/costume" class="tar" ><i class="layui-icon layui-icon-set" style="margin-right: 8px;"></i>造型管理</a>
        </dd>
        <dd>
          <a href="/admin/material/sprite" class="tar" ><i class="layui-icon layui-icon-set" style="margin-right: 8px;"></i>角色管理</a>
        </dd>
        <dd>
          <a href="/admin/material/backdrop" class="tar" ><i class="layui-icon layui-icon-set" style="margin-right: 8px;"></i>背景管理</a>
        </dd>
        <dd>
          <a href="/admin/material/sound" class="tar" ><i class="layui-icon layui-icon-set" style="margin-right: 8px;"></i>声音管理</a>
        </dd>
      </dl>
  </li>
    
      </ul>
    </div>
  </div>
  <!-- 内容主体区域：默认为src -->
  <div class="layui-body" style="bottom:0;padding:0;">
      <iframe id="iframeMain" 
        src="/admin/default"
        width="100%";
        style="height: calc(100% - 3px);";
        
        marginwidth="0";
        marginheight="0";
        scrolling="auto";
        frameborder="0";
      >
    </iframe>
  </div>
</div>
</body>

<script src="<%= process.env.staticurl %>/js/jquery.min.js"></script>
<script src="<%= process.env.staticurl %>/layui/layui.all.js"></script>
<script src="<%= process.env.staticurl %>/js/main.js"></script>
<script>
    $(document).ready(function () {
      $("a.tar").click(function (e) {
        e.preventDefault();//阻止A标签事件，直接使用下面的iframe
        $("#iframeMain").attr("src", $(this).attr("href"));
      });
    });
</script>
</html>
      