<%- include('../html-head.ejs', {pageTitle: 'Python'}); %>

			<mdui-tabs value="0">
				<mdui-tab value="0" icon="lock_outline" onclick="project_state0()">未分享的作品</mdui-tab>
				<mdui-tab value="1" icon="share" onclick="project_state1()">已分享的作品</mdui-tab>
				<mdui-tab value="2" icon="star" onclick="project_state2()">精选作品</mdui-tab>
			  </mdui-tabs>
			<div class="mdui-row" style="margin-top: 10px;" id="box_projects" ondragstart="return false">
			</div>
			<div style="display:flex; justify-content:center;">
				<div id="layui_change_page"></div>
			</div>
			<%- include('../html-footer.ejs', {page: 'python'}); %>

<script type="text/javascript" src="<%= process.env.staticurl %>/js/jquery.3.7.1.js"></script>
<script type="text/javascript" src="<%= process.env.staticurl %>/layui/layui.all.js"></script>
<script type="text/javascript" src="<%= process.env.staticurl %>/page/python/my.js"></script>

