<!DOCTYPE html style=' overflow: hidden; '>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title><%= global.configManager['site.name'] %></title>
    <link
      rel="shortcut icon"
      href="<%= global.configManager['urls.static'] %>/img/siteicon.png"
    />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />

    <link
      rel="stylesheet"
      href="<%= global.configManager['urls.static'] %>/mdui2/mdui.css"
      id="mdui_css"
    />
    <link
      rel="stylesheet"
      href="<%= global.configManager['urls.static'] %>/layui/css/layui.css"
    />
    <link
      rel="stylesheet"
      href="<%= global.configManager['urls.static'] %>/css/main.css"
    />

    <link id="layui_theme_css" rel="stylesheet" />

    <script
      type="text/javascript"
      src="<%= global.configManager['urls.static'] %>/js/jquery.3.7.1.js"
    ></script>
  </head>
  <style>
    :not(:defined) {
      visibility: hidden;
    }
  </style>

  <body class="mdui-theme-auto mdui-theme-accent-blue mdui-loaded">
    <div style="height: 100vh">
      <link
        rel="stylesheet"
        href="https://unpkg.com/@waline/client@v3/dist/waline.css"
      />

      <div id="canvas_box" style="height: 50vh">
        <div id="pythoncanvas"></div>
      </div>
      <div style="background-color: rgba(0, 0, 0, 0); height: 50vh">
        <textarea
          id="output"
          style="height: 100%; width: 100%; border: 0"
          disabled
        >
终端打印输出区</textarea
        >
      </div>

      <div
        style="
          position: fixed;
          left: 0;
          bottom: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 10px;
        "
      >
        <mdui-button
          id="run-code"
          onclick="run_it()"
          variant="filled"
          icon="play_arrow"
          style=""
          >运行</mdui-button
        >

        <mdui-button onclick="run_clear()" variant="tonal" icon="clear"
          >清除</mdui-button
        >
      </div>
    </div>

    <div style="display: none">
      <textarea id="code_textarea"></textarea>
    </div>
  </body>
  <link href="<%= global.configManager['urls.static'] %>/font1.css" rel="stylesheet" />

  <script
    type="text/javascript"
    src="<%= global.configManager['urls.static'] %>/layui/layui.all.js"
  ></script>
  <script src="<%= global.configManager['urls.static'] %>/mdui2/mdui.global.js"></script>
  <script
    type="text/javascript"
    src="<%= global.configManager['urls.static'] %>/js/main.js"
  ></script>
  <script
    type="text/javascript"
    src="<%= global.configManager['urls.static'] %>/page/main.js"
  ></script>

  <script>
    mdui.setColorScheme("#2087fd");
  </script>

  <script>
    staticurl = "<%= global.configManager['urls.static'] %>";
    S3staticurl = "<%= global.configManager['s3.staticurl'] %>";
    editorurl = "<%= global.configManager['urls.editor'] %>";
  </script>
</html>
<script
  type="text/javascript"
  src="<%= global.configManager['urls.static'] %>/pythonstatic/CodeMirror.js"
></script>
<script
  type="text/javascript"
  src="<%= global.configManager['urls.static'] %>/pythonstatic/js/file-saver.js"
></script>
<script
  type="text/javascript"
  src="<%= global.configManager['urls.static'] %>/pythonstatic/skulpt.min.js"
></script>
<script
  type="text/javascript"
  src="<%= global.configManager['urls.static'] %>/pythonstatic/skulpt-stdlib.js"
></script>
<script
  type="text/javascript"
  src="<%= global.configManager['urls.static'] %>/pythonstatic/mode/python.js"
></script>
<script
  type="text/javascript"
  src="<%= global.configManager['urls.static'] %>/pythonstatic/js/show-hint.js"
></script>
<script
  type="text/javascript"
  src="<%= global.configManager['urls.static'] %>/layui/layui.all.js"
></script>
<script
  type="text/javascript"
  src="<%= global.configManager['urls.static'] %>/pythonstatic/public.js"
></script>

<script
  type="text/javascript"
  src="<%= global.configManager['urls.static'] %>/pythonstatic/next_python_play.js"
></script>
