<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="<%= process.env.staticurl %>/css/waline.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>
		<%= process.env.siteneme %>
	</title>
	<link rel="shortcut icon" href="<%= process.env.staticurl %>/img/siteicon.png">
	<meta name="description" content="<%= process.env.slogan %>">
	<meta name="keyword" content="<%= process.env.slogan %>">

	<link rel="stylesheet" href="<%= process.env.staticurl %>/layui/css/layui.css">


	<link rel="stylesheet" href="<%= process.env.staticurl %>/css/main.css">
	<% include ../linkfile.ejs %>

<%- process.env.includecode %></head>



<body class="mdui-theme-light mdui-theme-accent-blue mdui-loaded mdui-appbar-with-toolbar">
	<% include ../hand.ejs %>
		<div class="mdui-container" style="margin:40px auto">
			<div class="mdui-row">

				<div class="mdui-typo-display-1">Python</div>
				<div class="mdui-textfield mdui-textfield-floating-label">
					<label class="mdui-textfield-label">回车搜索</label>
					<input class="mdui-textfield-input " type="text" id='python_search_txt'>
				</div> <label class="mdui-checkbox">
					<input id="python_src" type="checkbox" />
					<i class="mdui-checkbox-icon"></i>
					内容搜索
				</label><button class="mdui-btn mdui-color-theme-accent mdui-ripple md3botton" style="margin:0px 0px 0px 10px;"
					onclick="Python_Search()">搜索</button>
				<div id="python_box">
					<div class="mdui-tab mdui-color-theme" mdui-tab id="python_type">
						<a class="mdui-ripple md3botton" onclick="Python('new');python_type='new'" >
							<i class="mdui-icon material-icons">fiber_new</i>
							<label>最新</label>
						</a>
						<a class="mdui-ripple md3botton" onclick="Python('hot');python_type='hot'" >
							<i class="mdui-icon material-icons">whatshot</i>
							<label>最热</label>
						</a>

					</div>
					<div class="mdui-row" id="python_projects"></div>
					<div style="display:flex; justify-content:center;">
						<div id="python_change_page"></div>
					</div>
				</div>
			</div>
		</div>

</body>

<script type="text/javascript" src="<%= process.env.staticurl %>/js/jquery.min.js"></script>
<script type="text/javascript" src="<%= process.env.staticurl %>/layui/layui.all.js"></script>



<script>
	var laypage = layui.laypage, layer = layui.layer;
	


	var python_type = 'new';
	function Python(thetype) {
		laypage.render({
			elem: 'python_change_page'
			, count: <%= python_count %>
	, limit: 16
			, theme: '#448aff'
			, jump: function (obj, first) {
				$.ajax({
					'url': '/python/view/getPythonProjects',
					'type': 'POST',
					'data': { curr: obj.curr, limit: obj.limit, type: thetype },
					'success': function (d) {
						if (d.length) {
							$("#python_projects").html("");
							for (var i = 0; i < d.length; i++) {
								tzzt=''
								
								if (d[i].state == 2) {

									tzzt = '<i class="mdui-icon material-icons">stars</i>'
								}
								if (d[i].description == "") {

									d[i].description = '暂无简介'
}
								$("#python_projects").append(`
								<div class="mdui-col-md-3 mdui-col-sm-6 mdui-col-xs-12" style="margin:5px 0px 5px 0px;">
<div class="">
    <div class="mdui-card mdui-hoverable" style='border-radius: 15px 15px 15px 15px;'>
    
		<div class="mdui-card-primary mdui-ripple mdui-hoverable" onclick='window.open("/python/play?id=${d[i].id}","_self")'  style='border-radius: 15px 15px 15px 15px;'>
            <div class="mdui-card-primary-title substr">${tzzt}${d[i].title}</div>
            <div class="mdui-card-primary-subtitle substr">${d[i].description}</div>
        </div>
            <div class="mdui-card-header mdui-ripple" onclick='window.open("/user?id=${d[i].authorid}","_self")'>
                <img class="mdui-card-header-avatar" src="/api/usertx?id=${d[i].authorid}" />
                <div class="mdui-card-header-title">${d[i].nickname}</div>
                <div class="mdui-card-header-subtitle">${d[i].motto}</div>
            </div>
     
    </div>
</div></div>	



						`);
							} document.getElementById("python_type").classList.remove('mdui-hidden');
						} else {
							automsg({ buttonText: '关闭', message: "无满足条件的作品" });
						}
					}
				});
			}
	});
	}
	Python('new')
	$('#python_search_txt').keydown(function (e) {
		if (e.keyCode == 13) { Python_Search(); }
	});
	function Python_Search() {
		var txt = $("#python_search_txt").val();
		if (txt == '') { $("#python_search_txt").focus(); return }

		$.ajax({
			'url': '/python/view/seachPythonProjects',
			'type': 'POST',
			'data': { t: 'p', txt: txt, searchall: document.getElementById("python_src").checked },
			'success': function (d) {
				if (d.length) {
					$("#python_projects").html("");

					for (var i = 0; i < d.length; i++) {
						tzzt=''
						if (d[i].state == 2) {

							tzzt = '<i class="mdui-icon material-icons">stars</i>'
						}
						if (d[i].description == "") {

d[i].description = '暂无简介'
}
						$("#python_projects").append(`
						<div class="mdui-col-md-3 mdui-col-sm-6 mdui-col-xs-12" style="margin:5px 0px 5px 0px;">
<div class="">
    <div class="mdui-card mdui-hoverable" style='border-radius: 15px 15px 15px 15px;'>
    
		<div class="mdui-card-primary mdui-ripple mdui-hoverable" onclick='window.open("/python/play?id=${d[i].id}","_self")'  style='border-radius: 15px 15px 15px 15px;'>
            <div class="mdui-card-primary-title substr">${tzzt}${d[i].title}</div>
            <div class="mdui-card-primary-subtitle substr">${d[i].description}</div>
        </div>
            <div class="mdui-card-header mdui-ripple" onclick='window.open("/user?id=${d[i].authorid}","_self")'>
                <img class="mdui-card-header-avatar" src="/api/usertx?id=${d[i].authorid}" />
                <div class="mdui-card-header-title">${d[i].nickname}</div>
                <div class="mdui-card-header-subtitle">${d[i].motto}</div>
            </div>
     
    </div>
</div></div>	

						`);
					} document.getElementById("python_type").classList.add('mdui-hidden');
					document.getElementById("python_change_page").innerHTML = '<button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent" onclick="Python(python_type)">取消搜索</button>';
				} else {
					automsg({ buttonText: '关闭', message: "无满足条件的作品" });
				}
			}
		});
	}
</script>

</html>
