<%- include('html-head.ejs', {pageTitle: '关于' }); %>

	<div class="mdui-typo-display-1">
		<%= process.env.SiteName %>
	</div>

	<div class="mdui-typo-subheading">
		<%= process.env.SiteName %>是一个重视个体的开源scratch论坛
	</div>

	<div class="mdui-typo">
		<div class="mdui-prose">
			<blockquote>
				<p>从前，有一个叫做思快池的池塘，人们每天快乐地在里面玩耍。但有一天，有一些心怀不轨的人在里面种了一种花，叫辱花。这种花会源源不断地释放出两种毒：岗毒和苔毒。之前，这些毒物并没被人接触到，可是有一天，一个矮小的黑影摘下了辱花，将这两种毒释放了出来。有人怀疑这个黑影是来自边城的猫，但未下定论。这些毒物被释放出来之后，开始毒害思快池中快乐游玩着的人们，最终，思快池中的一点毒水被人发现，官员们害怕这点毒水会毒害更多的人们，就把思快池填平了。之前在其中游玩的人们很怀念思快池，所以~就有了这个网站
				</p>
				<footer>——哔哩哔哩 是一刀斩哒</footer>
			</blockquote>
		</div>
		<p>目前网站正在测试，可能会搬各大论坛上的作品，所有作品版权归原作者所有，搬运仅用于测试项目稳定性，社区正式上线前会全部删除，目前社区用户上传的作品也会一并清除。社区开发会很慢，bug也会很多，别针之类的社区有十多人开发而
			<%= process.env.SiteName %>只有孙悟元一人，慢速更新请多包涵</p>
		</p>
		<p>友情链接：<a target="_blank" href="http://yhcoding.site/">银河编程社区</a></p>
	</div><%- include('./html-footer.ejs', {page: 'about' }); %>