</div>
</mdui-layout-main></mdui-layout>
</body>


<script type="text/javascript" src="<%= process.env.staticurl %>/layui/layui.all.js"></script>
<script src="<%= process.env.staticurl %>/mdui2/mdui.global.js"></script>
<script type="text/javascript" src="<%= process.env.staticurl %>/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.0.11/purify.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/12.0.1/marked.min.js"></script>

<script>
  function automsg(msg) {
    if (typeof msg === 'string') {
      msg = { message: msg };
    }
    mdui.snackbar({
      message: msg.message,
      closeable: true,
    });
  }
  mdui.setColorScheme('#2087fd');
</script>

<mdui-dialog id="webdialog" fullscreen width="1000">
  <mdui-top-app-bar slot="header">
    <mdui-button-icon icon="close" onclick="webdialog.open = false"></mdui-button-icon>
    <mdui-top-app-bar-title ></mdui-top-app-bar-title>
    <div style="flex-grow: 1"></div>
    <mdui-button-icon icon="fullscreen" onclick="webdialog.fullscreen = !webdialog.fullscreen " id="webdialogfull"></mdui-button-icon>
    <mdui-button-icon icon="open_in_new" onclick="window.open(`${webdialogiframe.src}`)" id="webdialogfull"></mdui-button-icon>

  </mdui-top-app-bar>
  <iframe
frameborder="0"
id="webdialogiframe"
style="min-height: calc(100vh - 208px);min-width: 497px;width: 100%;border-radius: 15px;"

>
<p>
<a href="https://developer.mozilla.org/zh-CN/docs/Glossary">
此设备无法使用此功能
</a>
</p>
</iframe>
  </mdui-dialog>

  
  <script>
  const webdialog = document.querySelector("#webdialog");
  const webdialogiframe = document.querySelector("#webdialogiframe");


  function openWebdialog(src) {
    webdialogiframe.src = src
    webdialog.open = true
  }
  </script>
<script>
  if (localStorage.darkTheme) {
    document.body.classList.add("mdui-theme-layout-dark");
    document.body.classList.add("mdui-theme-dark");
    document.documentElement.classList.add("mdui-theme-dark");
    document.body.setAttribute("dark", "");
    $("#layui_theme_css").attr("href", "<%= process.env.staticurl %>/css/layui-theme-dark.css");
  }
  document.getElementById("switch-theme").addEventListener("click", () => {
    document.body.classList.toggle("mdui-theme-layout-dark");
    document.body.classList.toggle("mdui-theme-dark");
    document.documentElement.classList.toggle("mdui-theme-dark");
    document.body.toggleAttribute("dark");
    if (document.body.hasAttribute("dark")) {
      localStorage.darkTheme = true;
      $("#layui_theme_css").attr("href", "<%= process.env.staticurl %>/css/layui-theme-dark.css");
    } else {
      delete localStorage.darkTheme;
      $("#layui_theme_css").removeAttr("href");
    }
  });

  getCDNinfo = function () {
    jQuery.ajax({
      url: "/cdn-cgi/trace",
      success: function (data, status) {
        let areas = "Antananarivo, Madagascar - (TNR);Cape Town, South Africa - (CPT);Casablanca, Morocco - (CMN);Dar Es Salaam, Tanzania - (DAR);Djibouti City, Djibouti - (JIB);Durban, South Africa - (DUR);Johannesburg, South Africa - (JNB);Kigali, Rwanda - (KGL);Lagos, Nigeria - (LOS);Luanda, Angola - (LAD);Maputo, MZ - (MPM);Mombasa, Kenya - (MBA);Port Louis, Mauritius - (MRU);Réunion, France - (RUN);Bangalore, India - (BLR);Bangkok, Thailand - (BKK);Bandar Seri Begawan, Brunei - (BWN);Cebu, Philippines - (CEB);Chengdu, China - (CTU);Chennai, India - (MAA);Chittagong, Bangladesh - (CGP);Chongqing, China - (CKG);Colombo, Sri Lanka - (CMB);Dhaka, Bangladesh - (DAC);Dongguan, China - (SZX);Foshan, China - (FUO);Fuzhou, China - (FOC);Guangzhou, China - (CAN);Hangzhou, China - (HGH);Hanoi, Vietnam - (HAN);Hengyang, China - (HNY);Ho Chi Minh City, Vietnam - (SGN);Hong Kong - (HKG);Hyderabad, India - (HYD);Islamabad, Pakistan - (ISB);Jakarta, Indonesia - (CGK);Jinan, China - (TNA);Karachi, Pakistan - (KHI);Kathmandu, Nepal - (KTM);Kolkata, India - (CCU);Kuala Lumpur, Malaysia - (KUL);Lahore, Pakistan - (LHE);Langfang, China - (NAY);Luoyang, China - (LYA);Macau - (MFM);Malé, Maldives - (MLE);Manila, Philippines - (MNL);Mumbai, India - (BOM);Nagpur, India - (NAG);Nanning, China - (NNG);New Delhi, India - (DEL);Osaka, Japan - (KIX);Phnom Penh, Cambodia - (PNH);Qingdao, China - (TAO);Seoul, South Korea - (ICN);Shanghai, China - (SHA);Shenyang, China - (SHE);Shijiazhuang, China - (SJW);Singapore, Singapore - (SIN);Suzhou, China - (SZV);Taipei - (TPE);Thimphu, Bhutan - (PBH);Tianjin, China - (TSN);Tokyo, Japan - (NRT);Ulaanbaatar, Mongolia - (ULN);Vientiane, Laos - (VTE);Wuhan, China - (WUH);Wuxi, China - (WUX);Xi'an, China - (XIY);Yerevan, Armenia - (EVN);Zhengzhou, China - (CGO);Zuzhou, China - (CSX);Amsterdam, Netherlands - (AMS);Athens, Greece - (ATH);Barcelona, Spain - (BCN);Belgrade, Serbia - (BEG);Berlin, Germany - (TXL);Brussels, Belgium - (BRU);Bucharest, Romania - (OTP);Budapest, Hungary - (BUD);Chișinău, Moldova - (KIV);Copenhagen, Denmark - (CPH);Cork, Ireland -  (ORK);Dublin, Ireland - (DUB);Düsseldorf, Germany - (DUS);Edinburgh, United Kingdom - (EDI);Frankfurt, Germany - (FRA);Geneva, Switzerland - (GVA);Gothenburg, Sweden - (GOT);Hamburg, Germany - (HAM);Helsinki, Finland - (HEL);Istanbul, Turkey - (IST);Kyiv, Ukraine - (KBP);Lisbon, Portugal - (LIS);London, United Kingdom - (LHR);Luxembourg City, Luxembourg - (LUX);Madrid, Spain - (MAD);Manchester, United Kingdom - (MAN);Marseille, France - (MRS);Milan, Italy - (MXP);Moscow, Russia - (DME);Munich, Germany - (MUC);Nicosia, Cyprus - (LCA);Oslo, Norway - (OSL);Paris, France - (CDG);Prague, Czech Republic - (PRG);Reykjavík, Iceland - (KEF);Riga, Latvia - (RIX);Rome, Italy - (FCO);Saint Petersburg, Russia - (LED);Sofia, Bulgaria - (SOF);Stockholm, Sweden - (ARN);Tallinn, Estonia - (TLL);Thessaloniki, Greece - (SKG);Vienna, Austria - (VIE);Vilnius, Lithuania - (VNO);Warsaw, Poland - (WAW);Zagreb, Croatia - (ZAG);Zürich, Switzerland - (ZRH);Arica, Chile - (ARI);Asunción, Paraguay - (ASU);Bogotá, Colombia - (BOG);Buenos Aires, Argentina - (EZE);Curitiba, Brazil - (CWB);Fortaleza, Brazil - (FOR);Guatemala City, Guatemala - (GUA);Lima, Peru - (LIM);Medellín, Colombia - (MDE);Panama City, Panama - (PTY);Porto Alegre, Brazil - (POA);Quito, Ecuador - (UIO);Rio de Janeiro, Brazil - (GIG);São Paulo, Brazil - (GRU);Santiago, Chile - (SCL);Willemstad, Curaçao - (CUR);St. George's, Grenada - (GND);Amman, Jordan - (AMM);Baghdad, Iraq - (BGW);Baku, Azerbaijan - (GYD);Beirut, Lebanon - (BEY);Doha, Qatar - (DOH);Dubai, United Arab Emirates - (DXB);Kuwait City, Kuwait - (KWI);Manama, Bahrain - (BAH);Muscat, Oman - (MCT);Ramallah - (ZDM);Riyadh, Saudi Arabia - (RUH);Tel Aviv, Israel - (TLV);Ashburn, VA, United States - (IAD);Atlanta, GA, United States - (ATL);Boston, MA, United States - (BOS);Buffalo, NY, United States - (BUF);Calgary, AB, Canada - (YYC);Charlotte, NC, United States - (CLT);Chicago, IL, United States - (ORD);Columbus, OH, United States - (CMH);Dallas, TX, United States - (DFW);Denver, CO, United States - (DEN);Detroit, MI, United States - (DTW);Honolulu, HI, United States - (HNL);Houston, TX, United States - (IAH);Indianapolis, IN, United States - (IND);Jacksonville, FL, United States - (JAX);Kansas City, MO, United States - (MCI);Las Vegas, NV, United States - (LAS);Los Angeles, CA, United States - (LAX);McAllen, TX, United States - (MFE);Memphis, TN, United States - (MEM);Mexico City, Mexico - (MEX);Miami, FL, United States - (MIA);Minneapolis, MN, United States - (MSP);Montgomery, AL, United States - (MGM);Montréal, QC, Canada - (YUL);Nashville, TN, United States - (BNA);Newark, NJ, United States - (EWR);Norfolk, VA, United States - (ORF);Omaha, NE, United States - (OMA);Philadelphia, United States - (PHL);Phoenix, AZ, United States - (PHX);Pittsburgh, PA, United States - (PIT);Port-Au-Prince, Haiti - (PAP);Portland, OR, United States - (PDX);Queretaro, MX, Mexico - (QRO);Richmond, Virginia - (RIC);Sacramento, CA, United States - (SMF);Salt Lake City, UT, United States - (SLC);San Diego, CA, United States - (SAN);San Jose, CA, United States - (SJC);Saskatoon, SK, Canada - (YXE);Seattle, WA, United States - (SEA);St. Louis, MO, United States - (STL);Tampa, FL, United States - (TPA);Toronto, ON, Canada - (YYZ);Vancouver, BC, Canada - (YVR);Tallahassee, FL, United States - (TLH);Winnipeg, MB, Canada - (YWG);Adelaide, SA, Australia - (ADL);Auckland, New Zealand - (AKL);Brisbane, QLD, Australia - (BNE);Melbourne, VIC, Australia - (MEL);Noumea, New caledonia - (NOU);Perth, WA, Australia - (PER);Sydney, NSW, Australia - (SYD)".split(";");
        let area = data.split("colo=")[1].split("\n")[0];
        for (var i = 0; i < areas.length; i++) {
          if (areas[i].indexOf(area) != -1) {
            document.getElementById("cdn").innerHTML = areas[i];
            document.getElementById("ip").innerHTML = data.split("ip=")[1].split("\n")[0];
            document.getElementById("loc").innerHTML = data.split("loc=")[1].split("\n")[0];
            break;
          }
        }
      }
    })
  }
  jQuery(document).ready(function () {
    getCDNinfo();
  });

  S3staticurl = "<%= process.env.S3staticurl %>"
</script>
<script src="https://registry.npmmirror.com/jwt-decode/4.0.0/files/build/cjs/index.js"></script>
  <script>
    function userinfo() {
      isLogin = false;
      _userid = 0
      if (Cookies.get('token')){
        try { 
      const token = Cookies.get('token');
      const decoded = jwtDecode(token);
      
      $('.ow-email').text(decoded.email);
$('.ow-userlink').attr("href", "/user?id=" + decoded.userid);
$('.ow-usernick').text(decoded.display_name);
$('.ow-userid').text(decoded.userid);
$('.ow-useravatar').attr("src", "/api/usertx?id=" + decoded.userid);
$('.ow-useravatar').attr("alt", decoded.display_name);
isLogin = true;
_userid = decoded.userid

      }
      catch (error) {
        console.log(error)
      }
      }}

    $(function () {
    userinfo()
  })
  </script>
  <script>if (Cookies.get('token') == undefined) {
    document.getElementById('user-drawer-list').innerHTML = '<mdui-list-item rounded href="/user/login">注册</mdui-list-item> <mdui-list-item rounded href="/user/login">登录</mdui-list-item><mdui-list-item rounded class="close-user" icon="arrow_left">关闭</mdui-list-item>' }
    </script>
  <script>
    
    $(function () {
        
    
        document.querySelector('mdui-navigation-rail').setAttribute('value', window.location.pathname);
      
        const AddDialog = document.querySelector("#newproject");
        const openAddButtons = document.querySelectorAll(".open-add");
        openAddButtons.forEach(button => {
          button.addEventListener("click", () => AddDialog.open = true);
        });
      
        const UserDrawer = document.querySelector(".user-drawer");
        const openUserButton = document.querySelectorAll(".open-user");
        const closeUserButton = document.querySelector(".close-user");
        openUserButton.forEach(button => {
          button.addEventListener("click", () => UserDrawer.open = true);
        });
        closeUserButton.addEventListener("click", () => UserDrawer.open = false);
      
        const ToolsDrawer = document.querySelector(".tools-drawer");
        const openToolsButton = document.querySelectorAll(".open-tools");
        const closeToolsButton = document.querySelector(".close-tools");
        openToolsButton.forEach(button => {
          button.addEventListener("click", () => ToolsDrawer.open = true);
        });
        closeToolsButton.addEventListener("click", () => ToolsDrawer.open = false);

        const SwitcDialog = document.querySelector(".switch-dialog");
    const openanSwitcButton = document.querySelector(".open-switch");
  
    openanSwitcButton.addEventListener("click", () => SwitcDialog.open = true);
       
      
      
        const TypesDrawer = document.querySelector(".types-drawer");
        const openTypesButton = document.querySelectorAll(".open-types");
        const closeTypesButton = document.querySelector(".close-types");
        openTypesButton.forEach(button => {
          button.addEventListener("click", () => TypesDrawer.open = true);
        });
        closeTypesButton.addEventListener("click", () => TypesDrawer.open = false);

        const FeedBackDialog = document.querySelector(".feedback-dialog");
    const openanFeedBackButton = document.querySelector("#open-feedback-dialog");
  
    openanFeedBackButton.addEventListener("click", () => FeedBackDialog.open = true);
      });
      </script>
</html>