<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title><%= process.env.SiteName %> - <%= pageTitle %></title>
	<link rel="shortcut icon" href="<%= process.env.staticurl %>/img/siteicon.png">
	<meta name="description" content="<%= process.env.SiteSlogan %>">
	<meta name="keyword" content="<%= process.env.SiteSlogan %>">

    <link id="layui_theme_css" rel="stylesheet">
    <link rel="stylesheet" href="https://npm.elemecdn.com/mdui@1.0.2/dist/css/mdui.min.css" />
    <link rel="stylesheet" href="<%= process.env.staticurl %>/mdui2/mdui.css">
    <link rel="stylesheet" href="<%= process.env.staticurl %>/layui/css/layui.css">
    <link rel="stylesheet" href="<%= process.env.staticurl %>/css/projectspage.css">
    <link rel="stylesheet" href="<%= process.env.staticurl %>/css/main.css">
    <link rel="stylesheet" href="<%= process.env.staticurl %>/css/waline.css" />
</head>
<style>
:not(:defined) {
    visibility: hidden;
  }
</style>
<body class="mdui-theme-light mdui-theme-accent-blue mdui-loaded " >
  <mdui-layout style='height: 100vh;'>

  
  <mdui-navigation-drawer class="user-drawer"  close-on-esc close-on-overlay-click>
    <mdui-list>
      <% if (login==false) { %> <mdui-list-item rounded href="/user/login">注册</mdui-list-item> <mdui-list-item rounded
          href="/user/login">登录</mdui-list-item>
        <% } else { %>
          <mdui-list-item rounded active href="/user?id=<%= userid %>" description="查看个人主页"> 
            <mdui-avatar slot="icon"
              src="/api/usertx?id=<%= userid %>"></mdui-avatar>
            <%= nickname %>
          </mdui-list-item>
          <mdui-list-item rounded href="/my/scratch" description="管理Scratch作品">Scratch</mdui-list-item>
          <mdui-list-item rounded href="/my/python" description="管理Python作品">Python</mdui-list-item>
          <mdui-list-item rounded href="/my/info" description="管理个人信息">个人信息</mdui-list-item>
          <mdui-list-item rounded href="/user/logout" description="退出此账户">退出</mdui-list-item>
          <% } %>
            <mdui-list-item rounded class="close-user" icon="arrow_left">关闭</mdui-list-item>
    </mdui-list>
  
  </mdui-navigation-drawer>
  
  <mdui-navigation-drawer class="tools-drawer"  close-on-esc close-on-overlay-click>
  
    <mdui-list>
      <mdui-list-item rounded id="open-feedback-dialog" icon="send" description="发送反馈">反馈</mdui-list-item>
      <mdui-list-item rounded href="/tools/asdm" icon="content_copy" description="公益Scratch下载镜像">Scratch下载镜像</mdui-list-item>
      <mdui-list-item rounded href="/tools/comparer" icon="build" description="对比项目差异">项目比较器</mdui-list-item>
      <mdui-list-item rounded icon="brightness_4" id="switch-theme" description="切换light/dark">切换主题</mdui-list-item>
  
      <mdui-list-item rounded>当前CDN节点<span id="cdn" slot="description">[未知]</span></mdui-list-item>
      <mdui-list-item rounded>IP地址<span
          id="ip" slot="description">[未知]</span></mdui-list-item><mdui-list-item rounded>IP属地<span
          id="loc" slot="description">[未知]</span></mdui-list-item>
  
      <mdui-list-item rounded description="来自 OurWorld社区 项目" href="https://ourworld.wuyuan.dev" target="_blank">OurWorld</mdui-list-item>
      <mdui-list-item rounded href="https://wuyuan.dev" description="https://wuyuan.dev" target="_blank">由 孙悟元 开发</mdui-list-item>
      <mdui-list-item rounded href="https://github.com/ourworlddev/" description="OurWorldDev" target="_blank">Github</mdui-list-item>
  
      <mdui-list-item rounded href="http://yhcoding.site/" description="友情链接" target="_blank">银河编程社区</mdui-list-item>
      <mdui-list-item rounded href="https://www.rainyun.com/wuyuan_?s=ourworld" description="友情链接" target="_blank">雨云</mdui-list-item>
  
  
      <mdui-list-item rounded class="close-tools" icon="arrow_left">关闭</mdui-list-item>
    </mdui-list>
  
  </mdui-navigation-drawer>
  
  <mdui-navigation-drawer class="types-drawer"  close-on-esc close-on-overlay-click>
  
    <mdui-list>
      <mdui-list-item rounded href="/scratch" icon="code">Scratch分区</mdui-list-item>
      <mdui-list-item rounded href="/python" icon="code">Python分区</mdui-list-item>
      <mdui-list-item rounded class="close-types" icon="arrow_left">关闭</mdui-list-item>
    </mdui-list>
  
  </mdui-navigation-drawer>


  <mdui-navigation-rail alignment="start" class="pc">
    <mdui-button-icon icon="menu" slot="top" class="open-tools" ></mdui-button-icon>
    <mdui-fab lowered icon="add" slot="top" class="open-add"></mdui-fab>
    <mdui-button-icon icon="account_circle" slot="bottom" class="open-user"></mdui-button-icon>
  
    <mdui-navigation-rail-item icon="home" href="/" value="/">主页</mdui-navigation-rail-item>
    <mdui-navigation-rail-item icon="code" href="/scratch" value="/scratch">Scratch</mdui-navigation-rail-item>
    <mdui-navigation-rail-item icon="code" href="/python" value="/python">Python</mdui-navigation-rail-item>
  </mdui-navigation-rail>
  <mdui-bottom-app-bar scroll-behavior="hide" scroll-threshold="30" class="mobile">
    <mdui-button-icon icon="menu" class="open-tools"></mdui-button-icon>
    <mdui-button-icon icon="home" href="/"></mdui-button-icon>
    <mdui-button-icon icon="account_circle" class="open-user"></mdui-button-icon>
    <mdui-button-icon icon="code" class="open-types"></mdui-button-icon>
    <div style="flex-grow: 1"></div>
    <mdui-fab icon="add" class="open-add"></mdui-fab>
  </mdui-bottom-app-bar>
  
  
  <mdui-dialog close-on-esc headline="创建新的项目" description="请选择项目类型" close-on-overlay-click id="newproject"><mdui-button
      href="/scratch/edit">Scratch</mdui-button><mdui-button href="/python/edit">Python</mdui-button></mdui-dialog>
  
  
  <script>
    document.querySelector('mdui-navigation-rail').setAttribute('value', window.location.pathname);
  
    const AddDialog = document.querySelector("#newproject");
    const openAddButtons = document.querySelectorAll(".open-add");
    openAddButtons.forEach(button => {
      button.addEventListener("click", () => AddDialog.open = true);
    });
  
    const UserDrawer = document.querySelector(".user-drawer");
    const openUserButton = document.querySelectorAll(".open-user");
    const closeUserButton = document.querySelector(".close-user");
    openUserButton.forEach(button => {
      button.addEventListener("click", () => UserDrawer.open = true);
    });
    closeUserButton.addEventListener("click", () => UserDrawer.open = false);
  
    const ToolsDrawer = document.querySelector(".tools-drawer");
    const openToolsButton = document.querySelectorAll(".open-tools");
    const closeToolsButton = document.querySelector(".close-tools");
    openToolsButton.forEach(button => {
      button.addEventListener("click", () => ToolsDrawer.open = true);
    });
    closeToolsButton.addEventListener("click", () => ToolsDrawer.open = false);
  
  
    const TypesDrawer = document.querySelector(".types-drawer");
    const openTypesButton = document.querySelectorAll(".open-types");
    const closeTypesButton = document.querySelector(".close-types");
    openTypesButton.forEach(button => {
      button.addEventListener("click", () => TypesDrawer.open = true);
    });
    closeTypesButton.addEventListener("click", () => TypesDrawer.open = false);
  </script>
  
  
  
  <mdui-dialog close-on-overlay-click close-on-esc class="feedback-dialog" icon="feedback" headline="反馈"
    description="涉及代码请去提issues,站务请去兔小巢,涉及漏洞、安全问题请加QQ1847261658">
    <mdui-list>
      <mdui-list-item rounded href="/user/tuxiaochao">兔小巢</mdui-list-item>
      <mdui-list-item rounded href="https://github.com/OurWorldDev/OurWorld/issues">Github Issues</mdui-list-item>
    </mdui-list>
  </mdui-dialog>
  <script>
    const FeedBackDialog = document.querySelector(".feedback-dialog");
    const openanFeedBackButton = document.querySelector("#open-feedback-dialog");
  
    openanFeedBackButton.addEventListener("click", () => FeedBackDialog.open = true);
  </script>
  
  
  <style>
    .mdui-color-white {
      background-color: #ffffff !important;
      color: rgba(0, 0, 0, .87) !important;
    }
  
    .webkit-app-region {
      -webkit-app-region: drag
    }
  
    .webkit-app-region-no {
      -webkit-app-region: no-drag
    }
  
    .md3botton {
      border-radius: 18px;
    }
  
    .mdui-snackbar {
      border-radius: 15px 15px 0px 0px;
    }
  
    .mdui-list-item {
      border-radius: 0 50px 50px 0;
    }
  
    .mdui-dialog-prompt {
      border-radius: 15px;
    }
  
    .mdui-snackbar {
      border-radius: 15px 15px 0px 0px;
    }
  
    .substr {
      white-space: nowrap;
      overflow: hidden;
    }
  
    .mdui-tooltip {
      word-wrap: break-word;
      word-break: break-all;
    }
  </style>
  <!-- Filled -->
  <link href="<%= process.env.staticurl %>/font1.css" rel="stylesheet">
  
  <script>// 控制台安全提示
    //window.console.log('%c%s', 'color: red; background: yellow; font-size: 72px;', '警告！');
    //window.console.log('%c%s', 'color: red; background: yellow; font-size: 24px;', '使用此控制台会让攻击者控制你的账户，并窃取你的信息，删掉你的所有作品');
    //window.console.log('%c%s', 'color: red; background: yellow; font-size: 24px;', '请永远不要在这里粘贴或输入任何文字，不论他们告诉你这有多安全，管理员不需要查看控制台获取你的日志，OurWorld无法使用控制台进行调试或操作，任何希望你使用"检查"或F12按钮打开这里的人都是骗子，请立刻关掉这个网页并在官方渠道反馈(右上角头像旁反馈按钮)');
  </script>
  
  <style>
    @media (max-width: 767px) {
      .pc {
        display: none !important;
      }
    }
  
    @media (min-width: 767px) {
      .mobile {
        display: none !important
      }
    }
  </style>
<script type="module">
  var tauributton = document.querySelector('#tauributton');

  if (window.__TAURI__) {
    tauributton.removeAttribute('style')
  }
  const { appWindow } = window.__TAURI__.window;
  document
    .getElementById('titlebar-minimize')
    .addEventListener('click', () => appWindow.minimize())
  document
    .getElementById('titlebar-maximize')
    .addEventListener('click', () => appWindow.toggleMaximize())
  document
    .getElementById('titlebar-close')
    .addEventListener('click', () => appWindow.close())</script>
<mdui-top-app-bar data-tauri-drag-region >

    <div style="flex-grow: 1"></div>
    
    <mdui-segmented-button-group style="display: none;" id="tauributton">
      <mdui-segmented-button icon="minimize" id="titlebar-minimize"></mdui-segmented-button>
      <mdui-segmented-button icon="crop_square" id="titlebar-maximize"></mdui-segmented-button>
      <mdui-segmented-button icon="close" id="titlebar-close"></mdui-segmented-button>
    </mdui-segmented-button-group>
  </mdui-top-app-bar>
    <mdui-layout-main>
        <div class="mdui-container ow-container">