</div>
</mdui-layout-main></mdui-layout>
</body>


<script type="text/javascript" src="<%= process.env.staticurl %>/layui/layui.all.js"></script>
<script src="<%= process.env.staticurl %>/mdui2/mdui.global.js"></script>
<script type="text/javascript" src="<%= process.env.staticurl %>/js/main.js"></script>
<script type="text/javascript" src="<%= process.env.staticurl %>/page/main.js"></script>


<script>
  function automsg(msg) {
    if (typeof msg === 'string') {
      msg = { message: msg };
    }
    mdui.snackbar({
      message: msg.message,
      closeable: true,
    });
  }
  mdui.setColorScheme('#2087fd');

  document.querySelector('mdui-navigation-rail').setAttribute('value', window.location.pathname);

  const AddDialog = document.querySelector("#newproject");
  const openAddButtons = document.querySelectorAll(".open-add");
  openAddButtons.forEach(button => {
    button.addEventListener("click", () => AddDialog.open = true);
  });

  const UserDrawer = document.querySelector(".user-drawer");
  const openUserButton = document.querySelectorAll(".open-user");
  const closeUserButton = document.querySelector(".close-user");
  openUserButton.forEach(button => {
    button.addEventListener("click", () => UserDrawer.open = true);
  });
  closeUserButton.addEventListener("click", () => UserDrawer.open = false);

  const ToolsDrawer = document.querySelector(".tools-drawer");
  const openToolsButton = document.querySelectorAll(".open-tools");
  const closeToolsButton = document.querySelector(".close-tools");
  openToolsButton.forEach(button => {
    button.addEventListener("click", () => ToolsDrawer.open = true);
  });
  closeToolsButton.addEventListener("click", () => ToolsDrawer.open = false);

  const SwitcDialog = document.querySelector(".switch-dialog");
  const openanSwitcButton = document.querySelector(".open-switch");

  openanSwitcButton.addEventListener("click", () => SwitcDialog.open = true);



  const TypesDrawer = document.querySelector(".types-drawer");
  const openTypesButton = document.querySelectorAll(".open-types");
  const closeTypesButton = document.querySelector(".close-types");
  openTypesButton.forEach(button => {
    button.addEventListener("click", () => TypesDrawer.open = true);
  });
  closeTypesButton.addEventListener("click", () => TypesDrawer.open = false);

  const FeedBackDialog = document.querySelector(".feedback-dialog");
  const openanFeedBackButtons = document.querySelectorAll(".zc-feedback");

  openanFeedBackButtons.forEach(button => { button.addEventListener("click", () => { FeedBackDialog.open = true }); });

  if (localStorage.darkTheme) {
    document.body.classList.add("mdui-theme-layout-dark");
    document.body.classList.add("mdui-theme-dark");
    document.documentElement.classList.add("mdui-theme-dark");
    document.body.setAttribute("dark", "");
    $("#layui_theme_css").attr("href", "<%= process.env.staticurl %>/css/layui-theme-dark.css");
  }
  document.getElementById("switch-theme").addEventListener("click", () => {
    document.body.classList.toggle("mdui-theme-layout-dark");
    document.body.classList.toggle("mdui-theme-dark");
    document.documentElement.classList.toggle("mdui-theme-dark");
    document.body.toggleAttribute("dark");
    if (document.body.hasAttribute("dark")) {
      localStorage.darkTheme = true;
      $("#layui_theme_css").attr("href", "<%= process.env.staticurl %>/css/layui-theme-dark.css");
    } else {
      delete localStorage.darkTheme;
      $("#layui_theme_css").removeAttr("href");
    }
  });
</script>

<mdui-dialog id="webdialog" fullscreen width="1000">
  <mdui-top-app-bar slot="header">
    <mdui-button-icon icon="close" onclick="webdialog.open = false"></mdui-button-icon>
    <mdui-top-app-bar-title></mdui-top-app-bar-title>
    <div style="flex-grow: 1"></div>
    <mdui-button-icon icon="fullscreen" onclick="webdialog.fullscreen = !webdialog.fullscreen "
      id="webdialogfull"></mdui-button-icon>
    <mdui-button-icon icon="open_in_new" onclick="window.open(`${webdialogiframe.src}`)"
      id="webdialogfull"></mdui-button-icon>

  </mdui-top-app-bar>
  <iframe frameborder="0" id="webdialogiframe"
    style="min-height: calc(100vh - 208px);min-width: 497px;width: 100%;border-radius: 15px;">
    <p>
      <a href="https://developer.mozilla.org/zh-CN/docs/Glossary">
        此设备无法使用此功能
      </a>
    </p>
  </iframe>
</mdui-dialog>


<script>

  S3staticurl = "<%= process.env.S3staticurl %>"
</script>
<script src="<%= process.env.staticurl %>/js/js-cookie.js"></script>
<script src="<%= process.env.staticurl %>/js/jwt-decode.js"></script>


</html>