<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="mdui-theme-dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= global.config['site.name'] %>
  </title>
  <link rel="shortcut icon" href="<%= global.config['urls.static'] %>/img/siteicon.png">
  <link rel="stylesheet" href="<%= global.config['urls.static'] %>/mdui2/mdui.css" id="mdui_css">
</head>
<style>
  :not(:defined) {
    visibility: hidden;
  }
</style>

<body>
  <mdui-layout style="height: 100vh">
    <link href="<%= global.config['urls.static'] %>/font1.css" rel="stylesheet" />

    <mdui-layout-main>



      <mdui-list>
        <% const config = JSON.parse(JSON.stringify(global.publicconfig)); %>
        <% Object.entries(config).forEach(([key, value]) => { %>
            <mdui-list-item
                rounded
                headline="<%= key %>"
                description="<%= typeof value === 'object' ? JSON.stringify(value) : value %>"
            ></mdui-list-item>
        <% }); %>
    </mdui-list>

        <mdui-button variant="filled" href="<%= global.config['urls.frontend'] %>">立刻加入</mdui-button>
        <mdui-button variant="elevated" href="#">了解更多</mdui-button><mdui-list>
          <mdui-list-item icon="people" description="qq群号964979747" href="https://qm.qq.com/q/wn3TkPoZ5C" active
            rounded>ZeroCat现由厚浪云提供支持</mdui-list-item>
        </mdui-list>

        </div>
    </mdui-layout-main>
  </mdui-layout>
</body>
<script src="<%= global.config['urls.static'] %>/mdui2/mdui.global.js"></script>
<script>
  mdui.setColorScheme("#2087fd");
</script>

</html>