<%- include('html-head.ejs', {pageTitle: '登录/注册' }); %>


  <script>
    $(function () {
      if (Cookies.get('token')) {
        if (getQueryString('redirect') == 'editor') {
          window.location.href = "<%= process.env.editorurl %>/editor.html?token=" + Cookies.get('token');


        } else {
          window.location.href = '/';
        }
      }
    })

    function getQueryString(name) {
      const url_string = window.location.href;
      const url = new URL(url_string);
      return url.searchParams.get(name);
    }
  </script>

  <div class="layui-row">

    <style>
      .title:after {
        content: "";
        display: block;
        height: 4px;
        width: 40px;
        background-color: #448aff;
        margin-top: 20px;
      }
    </style>

    <div class="layui-col-md6" style="padding: 30px 0 0 0px;">
      <div id='login-page'>
        <div class="mdui-typo-display-2">
          <%= process.env.SiteName %> 登录
        </div>

        <div class="reply-form" style="height: max-content;">
          <div>
            <mdui-text-field variant="filled" label="邮箱" id='email' type="email" autocomplete="on" name="email"
              style="margin-bottom: 10px;"></mdui-text-field>
            <mdui-text-field variant="filled" label="密码" id='password' type="password" toggle-password name="password"
              autocomplete="on" style="margin-bottom: 10px;"></mdui-text-field>

            <mdui-button class="open-captchadialog" variant="tonal">完成验证码</mdui-button>




            <div style="display:flex; height: 50px;">
              <% if (reg==1) { %>
                <mdui-button variant="text" onclick="switchPage('reg-page')">注册账户</mdui-button>
                <% } %>
                  <mdui-button variant="text" onclick="switchPage('getPW-page')">忘记密码</mdui-button>
            </div>
            <mdui-button onclick="login()">登录</mdui-button>
          </div>
          <div>
          </div>
        </div>
      </div>

      <div id='reg-page' style="display: none;">
        <div class="mdui-typo-display-2">
          <%= process.env.SiteName %> 注册
        </div>
        <div class="reply-form" style="height: max-content;">


          <div>
            <mdui-text-field variant="filled" label="邮箱" id='reg_email' type="email"
              style="margin-bottom: 10px;"></mdui-text-field>
            <mdui-text-field variant="filled" label="昵称" id='reg_password' type="text"
              style="margin-bottom: 10px;"></mdui-text-field>

            <mdui-button class="open-captchadialog" variant="tonal">完成验证码</mdui-button>
            <div style="display:flex; height: 50px;">
              <mdui-button variant="text" onclick="switchPage('login-page')">去登录</mdui-button>

            </div>



            <mdui-button type="button" mdui-dialog="{target: '#privacy'}">注册</mdui-button>

          </div>
          <div>
          </div>
        </div>
      </div>
      <div id='getPW-page' style="display: none;">
        <div class="mdui-typo-display-2">
          <%= process.env.SiteName %> 找回密码
        </div>
        <div class="reply-form" style="height: max-content;">
          <div>
            <mdui-text-field variant="filled" label="邮箱" id='getPW_email' type="email"
              style="margin-bottom: 10px;"></mdui-text-field>
            <mdui-button class="open-captchadialog" variant="tonal">完成验证码</mdui-button>
            <br /><br />
            <mdui-button onclick="getPW()">找回密码</mdui-button>
            <mdui-button onclick="switchPage('login-page')" variant="text">去登录</mdui-button>
          </div>
        </div>
      </div>
    </div>



  </div>
  </div>
  </body>

  <div class="mdui-dialog" id="privacy" style='border-radius: 15px;'>
    <div class="mdui-dialog-title">您正在使用由孙悟元提供的服务</div>
    <div class="mdui-dialog-content">
      我们可能会收集您的个人信息,具体参见<a href="<%= process.env.SitePrivacyPolicy %>" target="_blank"
        class="mdui-text-color-blue">隐私策略</a><br />
      <label class="mdui-checkbox">
        <input type="checkbox" id="privacy-chick" />
        <i class="mdui-checkbox-icon"></i>
        我已阅读并同意隐私策略
      </label>
      <br /><br />
      <!--我们可能需要将您的个人数据传输到中国以外的国家或地区以提供服务,我们将采取必要措施确保您的数据得到安全和合法处理。-->
      我们将在中国大陆安全的存储您的数据，我们暂不提供自助删除您的个人数据，如果您希望删除您的数据，您需要优先选择联系我们<br />
      <label class="mdui-checkbox">
        <input type="checkbox" id="shuju-chick" />
        <i class="mdui-checkbox-icon"></i>
        我理解并同意我无法自助删除我的个人数据，在需要时我会主动联系管理员删除
      </label>
      <br /><br />
      在<%= process.env.SiteName %>上,你需要遵守<a href="https://scratch.mit.edu/community_guidelines" target="_blank"
          class="mdui-text-color-blue">社区行为准则(第三方站点)</a><br />
        <label class="mdui-checkbox">
          <input type="checkbox" id="zhunze-chick" />
          <i class="mdui-checkbox-icon"></i>
          我已阅读并同意将会遵守社区行为准则
        </label>
        <br /><br />
        你需要同意<a href="<%= process.env.SiteTermsofService %>" target="_blank" class="mdui-text-color-blue">用户协议</a><br />
        <label class="mdui-checkbox">
          <input type="checkbox" id="xiugai-chick" />
          <i class="mdui-checkbox-icon"></i>
          我已阅读并同意用户协议
        </label>
        <br /><br />对于技术手段绕过此页面的行为(视为对<%= process.env.SiteName %>
          的基础设施进行攻击)涉嫌违法(非法入侵计算机系统),我们将保留追究法律责任的权利,且违规获得的账号不受保护,如果您同意以上内容,请点击“复选框”以完成注册流程.
    </div>

    <div class="mdui-dialog-actions">
      <button class="mdui-btn mdui-ripple mdui-text-color-theme-text" mdui-dialog-close
        style='border-radius: 15px;'>取消</button>
      <button class="mdui-btn mdui-ripple mdui-text-color-theme-text" style='border-radius: 15px;'
        onclick="register()">注册</button>
    </div>
  </div>
  <mdui-dialog close-on-overlay-click close-on-esc class="captchadialog">
    <span slot="headline">请完成验证码</span>
    <span slot="description">部分地区加载可能较慢，请耐心等待。</span>
    <div id="captcha-div"></div>

    <mdui-button slot="action" variant="text" class="zc-feedback">反馈</mdui-button>
    <mdui-button slot="action" variant="text" onclick="reloudcaptcha()">刷新</mdui-button>

    <mdui-button slot="action" variant="tonal" class="close-captchadialog">完成</mdui-button>
  </mdui-dialog>


  <script>
    const captchadialog = document.querySelector(".captchadialog");
    const opencaptchadialogButtons = document.querySelectorAll(".open-captchadialog");
    const closecaptchadialogButton = document.querySelector(".close-captchadialog");
    opencaptchadialogButtons.forEach(button => { button.addEventListener("click", () => { captchadialog.open = true }); });
    closecaptchadialogButton.addEventListener("click", () => captchadialog.open = false);

  </script>
  <%- include('./html-footer.ejs', {page: 'login' }); %>
    <script type="text/javascript" src="<%= process.env.staticurl %>/js/gter.js"></script>
    <script type="text/javascript" src="<%= process.env.staticurl %>/js/login.js"></script>
    <script src="<%= process.env.reurl %>?compat=recaptcha&onload=onloadCallback" async defer></script>
    <script>rekey = '<%= process.env.rekey %>'</script>