<%- include('./html-head.ejs', {pageTitle: '个人中心'}); %>

			<div class="mdui-typo-display-2">
				<%= nickname %>
			</div>
			<div class="mdui-typo-headline-opacity">
				<%= motto %>
			</div><br />






			<div class="mdui-row">
				<div class="mdui-textfield mdui-textfield-floating-label mdui-col-xs-2">
					<mdui-text-field variant="outlined" id="my_nickname" maxlength="10" value="<%= nickname %>"
						label="昵称"></mdui-text-field>

				</div>
				<div class="mdui-textfield mdui-textfield-floating-label mdui-col-xs-10">
					<mdui-text-field variant="outlined" id="my_aboutme" maxlength="255" value="<%= motto %>"
						label="简介"></mdui-text-field>
				</div>
			</div>
			<mdui-select variant="outlined" id="sex-chick" label="性别"  <% if (sex==1) { %>value="1" <% } %>
					<% if (sex==0) { %>value="0" <% } %> style="width: 120px;">
							<mdui-menu-item value="1">男</mdui-menu-item>
							<mdui-menu-item value="0">女</mdui-menu-item>
			</mdui-select>
			<div style="float: right;">
				<mdui-button href="/my/info">取消</mdui-button>
				<mdui-button onclick="updataInfo()">确认</mdui-button>
			</div>



			<br /><br />
			<img class="mdui-img-circle mdui-m-l-2" src="/api/usertx?id=<%= userid %>"
					style="height: 100px;width: auto;border-radius: 15px;" />
					<br/>	<br/>
				<mdui-button class="avatarUpload " lay-data="{exts:'png|jpg', size:1024}">修改头像</mdui-button>
	
				<mdui-button class="open-password-dialog">修改密码</mdui-button>
			<mdui-dialog class="password-dialog" 
			headline="修改密码"
  description="请确保密码足够安全"
			>
			<mdui-text-field variant="outlined" id='old_password'  type="password" 
				label="原密码" autocomplete="off"></mdui-text-field><br/><br/>
				<mdui-text-field variant="outlined" id='new_password'  type="password" 
				label="新密码" autocomplete="off"></mdui-text-field>
				<mdui-button slot="action" variant="text" class="close-password-dialog">关闭</mdui-button>
				<mdui-button slot="action" variant="tonal" onclick="updatePassword()">确认</mdui-button>
			</mdui-dialog>

		

			<script>
				const pwdialog = document.querySelector(".password-dialog");
				const openpwButton = document.querySelector(".open-password-dialog");
				const closepwButton = document.querySelector(".close-password-dialog");

				openpwButton.addEventListener("click", () => pwdialog.open = true);
				closepwButton.addEventListener("click", () => pwdialog.open = false);
			</script>





		<script type="text/javascript" src="<%= process.env.staticurl %>/js/gter.js"></script>
		

		<%- include('./html-footer.ejs', {page: 'myinfo'}); %>
