
<%- include('./html-head.ejs', {pageTitle: '找回密码'}); %>

<% if (login) { %>
  <script>window.location.href = '/';</script>
  <% } %>

          <div class="layui-row">

            <style>
              .title:after {
                content: "";
                display: block;
                height: 4px;
                width: 40px;
                background-color: #448aff;
                margin-top: 20px;
              }
            </style>

            <div class="layui-col-md6" style="padding: 30px 0 0 30px;">
              <div id='login-page'>
                <div class="mdui-typo-display-2">
                  重设密码
                </div>

                <div class="reply-form" style="height: max-content;">

                  <div class="mdui-textfield">
                    <i class="mdui-icon material-icons">lock</i>
                    <input class="mdui-textfield-input" id='password' type="password" placeholder="密码" />
                  </div>


                  <div id="recaptcha-div-rePW-page"></div>
               



                  <button type="button" onclick="torepw()" class="mdui-btn mdui-color-theme-accent mdui-ripple"
                    style="width: 120px;border-radius: 12px;">重设密码</button>

                  <div>
                  </div>
                </div>
              </div>


            </div>



          </div>

          <%- include('./html-footer.ejs', {page: 'login'}); %>

    <script type="text/javascript" src="https://npm.elemecdn.com/jquery@latest/dist/jquery.min.js"></script>
    <script type="text/javascript" src="<%= process.env.staticurl %>/layui/layui.all.js"></script>
    <script type="text/javascript" src="<%= process.env.staticurl %>/js/gter.js"></script>

        <script type="text/javascript" src="<%= process.env.staticurl %>/js/login.js"></script>


<script src="<%= process.env.reurl %>?compat=recaptcha&onload=repwonloadCallback" async defer></script>

<script>
rekey='<%= process.env.rekey %>'

function repwonloadCallback() {
grecaptcha.render("#recaptcha-div-rePW-page", {
    sitekey: rekey,
  });
 
}
</script>
