<%- include('html-head.ejs', {pageTitle: user.nickname + '的个人主页'}); %>

			<img class="mdui-img-circle" src="/api/usertx?id=<%= user.id %>"
				style="height: 70px;" />
			<div class="mdui-typo-display-2">
				<%= user.nickname %>

			</div>
			<div class="mdui-typo-headline-opacity">
				<%= user.motto %>
			</div>
			<div id="scratch_box">
				<div class="mdui-row" id="scratch_projects"></div>
				<div style="display:flex; justify-content:center;">
					<div id="scratch_change_page"></div>
				</div>
			</div>
			<div id="python_box">
				<div class="layui-row" id="python_projects"></div>
				<div style="display:flex; justify-content:center;">
					<div id="python_change_page"></div>
				</div>
			</div>

			<div id="waline"></div>
			<script type="module">
				import { init } from '<%= process.env.staticurl %>/js/waline-c.mjs';

				init({
					el: '#waline',
					serverURL: '<%= process.env.WalineServerURL %>',
					path: 'user-<%= user.id %>',
					copyright: false,
					reaction: true, // 开启反应
					pageview: true, // 浏览量统计
					locale: {
						reactionTitle: "发表下看法？"
					},
					emoji: [
						'//unpkg.com/@waline/emojis@1.1.0/weibo',
						'//unpkg.com/@waline/emojis@1.1.0/bilibili',
					],
					dark: 'body[dark]',
				});
			</script>
	<%- include('./html-footer.ejs', {page: 'user'}); %>

<script>	var laypage = layui.laypage, layer = layui.layer;

	function Scratch() {
		laypage.render({
			elem: 'scratch_change_page'
			, count: <%= scratch_count %>
	, limit: 8
			, theme: '#448aff'
			, jump: function (obj, first) {
				$.ajax({
					'url': '/api/getUserScratchProjects',
					'type': 'POST',
					'data': { curr: obj.curr, limit: obj.limit, userid: getQueryString('id') },
					'success': function (d) {
						if (d.length) {
							$("#scratch_projects").html("");
							for (var i = 0; i < d.length; i++) {
								tzzt = ''
								if (d[i].state == 2) {

									tzzt = '<mdui-icon name="star"></mdui-icon>'
								}
								$("#scratch_projects").append(`
								<div class="mdui-col-md-3 mdui-col-sm-6 mdui-col-xs-12" style="margin:5px 0px 5px 0px;">
<mdui-card variant="outlined" clickable ondragstart="return false" style="user-select:none;width: 100%;overflow: hidden" href="/scratch/play?id=${d[i].id}">
	
		<img src="<%= process.env.S3staticurl%>/scratch_slt/${d[i].id}"
			style="pointer-events: none;width: 100%;" />
		<div class="card-media-covered">
				<div class="card-media-covered-text">${tzzt}${d[i].title}</div>
		</div>
</mdui-card>
</div>
						`);
							}
						} else {
							$("#scratch_projects").html(`<p class="mdui-text-center">没有找到Scratch作品</p>`);
							automsg({ buttonText: '关闭', message: "无满足条件的作品" });
						}
					}
				});
			}
	});
	}
	function Python() {
		laypage.render({
			elem: 'python_change_page'
			, count: <%= python_count %>
	, limit: 8
			, theme: '#448aff'
			, jump: function (obj, first) {
				$.ajax({
					'url': '/api/getUserPythonProjects',
					'type': 'POST',
					'data': { curr: obj.curr, limit: obj.limit, userid: getQueryString('id') },
					'success': function (d) {
						if (d.length) {
							$("#python_projects").html("");
							for (var i = 0; i < d.length; i++) {
								tzzt = ''
								if (d[i].state == 2) {

									tzzt = '<mdui-icon name="star"></mdui-icon>'
								}
								$("#python_projects").append(`<div class="mdui-col-md-3 mdui-col-sm-6 mdui-col-xs-12" style="margin:5px 0px 5px 0px;">
					<mdui-card variant="outlined" href='/python/play?id=${d[i].id}' clickable ondragstart="return false" style="user-select:none;width: 100%;overflow: hidden">
						<div class="card-main">
								<div class="substr card-main-text" >${tzzt}${d[i].title}</div>
								<div class="substr card-main-subtitle">${d[i].description}</div>
							</div>
					</mdui-card>
					</div>
						`);

							}
						} else {
							$("#python_projects").html(`<p class="mdui-text-center">没有找到Python作品</p>`);

							automsg({ buttonText: '关闭', message: "无满足条件的作品" });
						}
					}
				});
			}
	});
	}
	Scratch()
	Python()
	function getQueryString(name) {
		var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
		var r = window.location.search.substr(1).match(reg);
		if (r != null) {
			return unescape(r[2]);
		}
		return null;
	}
</script>

