<%- include('html-head.ejs', {pageTitle: user.display_name + '的个人主页' }); %>
	<link rel="stylesheet" href="https://unpkg.com/@waline/client@v3/dist/waline.css" />


	<img class="mdui-img-circle" src="" style="height: 70px" id="mainuserimages" />
	<div class="mdui-typo-display-2 display_name" id="mainuserdisplay_name" style="user-select: text">
		创作者
	</div>

	<mdui-card variant="filled">
		<mdui-chip icon="access_time" id="regTime" style="margin: 10px 0px 0px 10px"></mdui-chip><mdui-chip icon="tag"
			id="tag" style="margin: 10px 10px 0px 10px">创作者</mdui-chip>

		<div class="usermotto" id="usermotto" style="user-select: text; margin: 20px">
			创作者
		</div>
	</mdui-card>
	<mdui-tabs value="tab-1">
		<mdui-tab value="tab-1">Scratch</mdui-tab>
		<mdui-tab value="tab-2">Python</mdui-tab>

		<mdui-tab-panel slot="panel" value="tab-1">
			<div id="scratch_box">
				<div class="mdui-row" id="scratch_projects" style="width: 100%;"></div>
				<div style="display: flex; justify-content: center">
					<div id="scratch_change_page"></div>
				</div>
			</div>
		</mdui-tab-panel>
		<mdui-tab-panel slot="panel" value="tab-2">
			<div id="python_box">
				<div class="layui-row" id="python_projects"></div>
				<div style="display: flex; justify-content: center">
					<div id="python_change_page"></div>
				</div>
			</div>
		</mdui-tab-panel>
	</mdui-tabs>

	<div id="waline"></div>
	<script type="module">
		import { init } from "https://unpkg.com/@waline/client@v3/dist/waline.js";

		init({
			el: "#waline",
			serverURL: "<%= process.env.WalineServerURL %>",
			path: "user-<%= user.id %>",
			copyright: false,
			reaction: true, // 开启反应
			pageview: true, // 浏览量统计
			locale: {
				reactionTitle: "发表下看法？",
			},
			emoji: [
				"//unpkg.com/@waline/emojis@1.1.0/weibo",
				"//unpkg.com/@waline/emojis@1.1.0/bilibili",
			],
			dark: "body[dark]",
		});
	</script>
	<%- include('./html-footer.ejs', {page: 'user' }); %>
	<script type="text/javascript" src="<%= process.env.staticurl %>/page/user/page.js"></script>
