<%- include('../html-head.ejs', {pageTitle: 'Scratch'}); %>

			<mdui-tabs value="0">
				<mdui-tab value="0" icon="lock_outline" onclick="project_state0()">未分享的作品</mdui-tab>
				<mdui-tab value="1" icon="share" onclick="project_state1()">已分享的作品</mdui-tab>
				<mdui-tab value="2" icon="star" onclick="project_state2()">精选作品</mdui-tab>
			  </mdui-tabs>
			<div class="mdui-row" style="margin-top: 10px;" id="box_projects" ondragstart="return false">
			</div>
			<div style="display:flex; justify-content:center;">
				<div id="layui_change_page"></div>
			</div>
			<%- include('../html-footer.ejs', {page: 'scratch'}); %>


<script type="text/javascript" src="<%= process.env.staticurl %>/js/jquery.min.js"></script>
<script type="text/javascript" src="<%= process.env.staticurl %>/layui/layui.all.js"></script>
<script>
	//翻页加载作品
	var _laypage = layui.laypage;
	function loadPage(count, state) {
		_laypage.render({
			elem: 'layui_change_page'
			, count: count
			, limit: 8
			, theme: '#3593ff'
			, curr: 1
			, jump: function (obj, first) {
				$.ajax({
					'url': '/my/getScratchProjects',
					'type': 'POST',
					'data': { curr: obj.curr, limit: obj.limit, state: state },
					'success': function (d) {
						if (d.length) {
							$("#box_projects").html("");
							if (state == 0) {
								for (var i = 0; i < d.length; i++) {
									$("#box_projects").append(`
									<div class="mdui-col-md-3 mdui-col-sm-6 mdui-col-xs-12" style="margin:5px 0px 5px 0px;">
<mdui-card variant="outlined" clickable ondragstart="return false" style="user-select:none;width: 100%;overflow: hidden">

		<img src="<%= process.env.qiniuurl%>/scratch_slt/${d[i].id}"
			style="pointer-events: none;width: 100%;" />
		<div class="card-media-covered">
				<div class="card-media-covered-text">${d[i].title}</div>
		</div>

	
</mdui-card><div class="mdui-card-actions">
	<mdui-button onclick="delProject(this,${d[i].id})">删除</mdui-button>	
							<mdui-button onclick="shareProject(${d[i].id})">分享</mdui-button>	
							<mdui-button onclick="SetProjectDescription(${d[i].id},'${d[i].description}')">简介</mdui-button>	
							<mdui-button onclick='location.href=("/scratch/edit#${d[i].id}")'>编辑</mdui-button>
					</div>
			
</div>
									`);
								};
							} else {
								for (var i = 0; i < d.length; i++) {
									$("#box_projects").append(`
									<div class="mdui-col-md-3 mdui-col-sm-6 mdui-col-xs-12" style="margin:5px 0px 5px 0px;">
<mdui-card variant="outlined" clickable ondragstart="return false" style="user-select:none;width: 100%;overflow: hidden">

		<img src="<%= process.env.qiniuurl%>/scratch_slt/${d[i].id}"
			style="pointer-events: none;width: 100%;" />
		<div class="card-media-covered">
				<div class="card-media-covered-text">${d[i].title}</div>
		</div>

	
</mdui-card><div class="mdui-card-actions">
	<mdui-button onclick="delProject(this,${d[i].id})">删除</mdui-button>	
							<mdui-button onclick="noshareProject(${d[i].id})">取消分享</mdui-button>	
							<mdui-button onclick="SetProjectDescription(${d[i].id},'${d[i].description}')">简介</mdui-button>	
							<mdui-button onclick='location.href=("/scratch/edit#${d[i].id}")'>编辑</mdui-button>
					</div>
</div>`);
								}
							}
						} else {
							$("#box_projects").append(`<mdui-button href='/python/edit'>创建作品</mdui-button>`);
						}
					}
				});
			}
		});
	}

	var state0_count = <%= state0_count %>;
	var state1_count = <%= state1_count %>;
	var state2_count = <%= state2_count %>;
	//未分享的作品
	function project_state0() {
		$("#box_projects").html("");
		loadPage(state0_count, 0);
	}
	//已分享的作品
	function project_state1() {
		$("#box_projects").html("");
		loadPage(state1_count, 1);
	}
	//已开源的作品
	function project_state2() {
		$("#box_projects").html("");
		loadPage(state2_count, 2);
	}
	//默认执行一次
	project_state0();
	//分享作品
	function shareProject(id) {
		mdui.confirm({
			headline: "确认分享作品?",
			description: "请确认操作",
			confirmText: "确认",
			cancelText: "取消",
			onConfirm: () =>
				AjaxFn('/my/scratch/share', { 'id': id }, function (res) {
					automsg(res['msg']);
					if ('success' == res['status']) {
						window.location.reload();
					}
				}),
			
		});

	};
	function SetProjectDescription(id, defaultinfo) {

		mdui.prompt({
      headline: "简介",
      description: "请输入简介",
      confirmText: "确认",
      cancelText: "取消",
	  textFieldOptions:{value: defaultinfo,autosize : '1',maxlength: "1000" ,counter : '1'},
      onConfirm: (value) => AjaxFn('/my/scratch/setdescription', { 'id': id, description: value }, function (res) {
					automsg(res['msg']);
					if ('success' == res['status']) {
						window.location.reload();
					}
				}),
      onCancel: () => console.log("canceled"),
    });
	};
	function noshareProject(id) {
		mdui.confirm({
			headline: "确认取消分享作品?",
			description: "请确认操作",
			confirmText: "确认",
			cancelText: "取消",
			onConfirm: () =>
				AjaxFn('/my/scratch/noshare', { 'id': id }, function (res) {
					automsg(res['msg']);
					if ('success' == res['status']) {
						window.location.reload();
					}
				}),
			
		});
	};
	//删除作品
	function delProject(that, id) {
		mdui.confirm({
			headline: "确认删除作品?",
			description: "请确认操作",
			confirmText: "确认",
			cancelText: "取消",
			onConfirm: () =>
				AjaxFn('/my/scratch/del', { 'id': id }, function (res) {
					automsg(res['msg']);
					if ('success' == res['status']) {
						window.location.reload();
					}
				}),
			
		});
	};
</script>


<style>
	.md3botton {
		border-radius: 15px;
	}

	.mdui-dialog-prompt {
		border-radius: 15px;
	}



	.substr {
		white-space: nowrap;
		overflow: hidden;
	}

	.mdui-tooltip {
		word-wrap: break-word;
		word-break: break-all;
	}
</style>