<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Scratch编程 - <%= process.env.SiteName %></title>
    <link rel="shortcut icon" href="<%= process.env.staticurl %>/img/siteicon.png">
</head>

<body>
 

  <script type="text/javascript">
    var _scratch_logo= '<%= process.env.staticurl %>/img/scratch-logo.png';
  </script>

</body>
<script type="text/javascript" src="<%= process.env.staticurl %>/js/scratch.min.js"></script>
</html>
<script>S3staticurl='<%= process.env.S3staticurl %>'
this.assetHost = '<%= process.env.S3staticurl %>/material/asset'</script>