<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Scratch编程 - <%= global.configManager['site.name'] %></title>
    <link
      rel="shortcut icon"
      href="<%= global.configManager['urls.static'] %>/img/siteicon.png"
    />
  </head>

  <body>
    <script type="text/javascript">
      var _scratch_logo =
        "<%= global.configManager['urls.static'] %>/img/scratch-logo.png";
    </script>
  </body>
  <script
    type="text/javascript"
    src="<%= global.configManager['urls.static'] %>/js/scratch.min.js"
  ></script>
</html>
<script>
  S3staticurl = "<%= global.configManager['s3.staticurl'] %>";
  this.assetHost = "<%= global.configManager['s3.staticurl'] %>/material/asset";
</script>
