<%- include('../html-head.ejs', {pageTitle: 'Scratch' }); %>

	<link rel="stylesheet" type="text/css" href="<%= process.env.staticurl %>/css/scratch_play.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/css/share.min.css" />
	<mdui-card style="width: 100%;" variant="outlined">


		<div id="container_play" style="display: none;">
			<div id="wrapper"> <canvas id="stage"></canvas>
				<div id="monitors"></div>
				<div id="asking-box">
					<label id="question" for="answer">问题</label> <input type="text" id="answer">
				</div>
			</div>
		</div>

		<span id="loading-progress" style="display: none;"></span>
		<div id="container_main">
			<div id="project_slt"
				style="background-image: url(<%= process.env.qiniuurl %>/scratch_slt/<%=project.id%>);">
				<div class="green-flag-box mdui-ripple mdui-valign first-green-flag" class="first-green-flag"
					style="width: 100%;height: 100%;">
					<div class="mdui-center">
						<img class="green-flag"
							src="<%= process.env.staticurl %>/scratchstatic/assets/2e0c4790f8f9cf28e3c346b9cef0fcb6.svg">
						<div style="font-size: small; width: 88px;text-align: center;">点击运行</div>
					</div>
				</div>
			</div>
		</div>
	</mdui-card>
	<mdui-button onclick="greenFlag()" variant="filled" icon="play_arrow">运行</mdui-button>

	<mdui-button id="stopAll" onclick="stopAll()" variant="tonal" icon="clear">停止</mdui-button>
	<br />
	<div style="font-size: 24px;line-height: 36px">
		<%= project.title %>
	</div>
	<div style="font-size: 14px;line-height: 24px;opacity: .54;">
		<%= project.description %>
	</div>
	<mdui-list>
		<mdui-list-item id="authorinfo" rounded active headline="<%= project.author_nickname %>"
			description="<%= project.author_motto %>" headline-line="1" description-line="1"
			href="/user?id=<%= project.authorid %>"><mdui-avatar id="authoravatar" slot="icon"
				src="/api/usertx?id=<%=project.authorid%>"></mdui-avatar>
		</mdui-list-item>
	</mdui-list>

	<mdui-chip icon="play_circle"><span>浏览量: <span class="waline-pageview-count">加载中</span></span></mdui-chip>
	<mdui-chip icon="code">Scratch</mdui-chip><br />
	<mdui-button variant="filled" class="copylink" icon="content_copy">复制链接</mdui-button>
	<mdui-button variant="filled" icon="content_copy" id="open-analysis-dialog"
		onclick='projectanalysis(projectjson)'>分析</mdui-button>

	<mdui-button variant="text" href="/scratch/edit#<%= project.id%>" target="_blank">创作页打开</mdui-button>

	<div class="social-share"></div>
	<script src="https://cdn.staticfile.org/echarts/5.3.2/echarts.min.js"></script>


	<mdui-dialog close-on-overlay-click close-on-esc class="analysis-dialog">
		<span slot="headline">
			<%= project.title %> 的分析
		</span>
		<span slot="description">由 OurWorld 统计</span>
		<div id="main1" style="width: 450px; height: 400px">请加载完毕后再使用分析</div>

		<div id="r"></div>
	</mdui-dialog>
	<script>
		const analysisdialog = document.querySelector(".analysis-dialog");
		const openanalysisButton = document.querySelector("#open-analysis-dialog");

		openanalysisButton.addEventListener("click", () => analysisdialog.open = true);
	</script>

	<div id="waline"></div>
	<script type="module">
		import { init } from '<%= process.env.staticurl %>/js/waline-c.mjs';
		init({
			el: '#waline',
			serverURL: '<%= process.env.WalineServerURL %>',
			path: 'project-<%=project.id%>',
			copyright: false,
			reaction: true, // 开启反应
			pageview: true, // 浏览量统计
			locale: {
				reactionTitle: "这个作品怎么样？"
			},
			emoji: [
				'//unpkg.com/@waline/emojis@1.1.0/weibo',
				'//unpkg.com/@waline/emojis@1.1.0/bilibili',
			],
			dark: 'body[dark]',
		});
	</script>
	<input type="hidden" id="works_id" value="<%= project.id %>">
	<%- include('../html-footer.ejs', {page: 'scratch' }); %>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/js/social-share.min.js"></script>

		<script type="text/javascript" src="<%= process.env.staticurl %>/js/scratch.vm.min.js"></script>
		<script type="text/javascript" src="<%= process.env.staticurl %>/js/clipboard.min.js"></script>
		<script>
			_pid = '<%= project.id %>';
			like_count = parseInt('<%=project.like_count%>');
			favo_count = parseInt('<%=project.favo_count%>');
			isLogin =<%= login %>;
		</script>
		<script type="text/javascript" src="<%= process.env.staticurl %>/js/scratch_play.js"></script>

		<script type="text/javascript" src="<%= process.env.staticurl %>/js/scratch-analysis-core.js"></script>


		<script>var $config = {
				title: '<%= project.title %>', // 标题，默认读取 document.title 或者 <meta name="title" content="share.js" />
				description: '<%= project.title %> 是 <%= project.author_nickname %> 在<%= process.env.sitename %>上的作品', // 描述, 默认读取head标签：<meta name="description" content="PHP弱类型的实现原理分析" />
				image: '<%= process.env.qiniuurl%>/scratch_slt/<%= project.id %>', // 图片, 默认取网页中第一个img标签
				wechatqrcodeTitle: "微信扫一扫分享", // 微信二维码提示文字
				wechatqrcodeHelper: '<p>打开扫一扫</p><p>在手机上打开即可分享至朋友圈。</p>',
			};

			socialShare('.social-share', $config)</script>
		<script>qiniuurl = '<%= process.env.qiniuurl %>'</script>

		<script>
			function projectanalysis() {
				var chartDom = document.getElementById("main1");
				var myChart = echarts.init(chartDom);
				var option;
				var h = { context: getHead(JSON.parse(projectjson)), info: "<%= project.author_nickname %> 的作品 <%= project.title %> 的分析", infotext: getStats(JSON.parse(projectjson)) }
				console.log(h)
				var opcodes = {
					looks: "外观",
					control: "控制",
					motion: "移动",
					sound: "声音",
					event: "事件",
					sensing: "侦测",
					operator: "运算",
					procedures: "自定义",
					argument: "参数",
					data: "数据",
					pen: "画笔",
					other: "其它",
				};
				const data = genData(50);
				option = {

					tooltip: {
						trigger: "item",
						formatter: "{a} <br/>{b} : {c} ({d}%)",
					},
					legend: {
						type: "scroll",
						orient: "vertical",
						right: 10,
						top: 10,
						bottom: 10,
						data: data.legendData,
					},
					series: [
						{
							name: "类别",
							type: "pie",
							radius: "55%",
							center: ["40%", "50%"],
							data: data.seriesData,
							emphasis: {
								itemStyle: {
									shadowBlur: 10,
									shadowOffsetX: 0,
									shadowColor: "rgba(0, 0, 0, 0.5)",
								},
							},
						},
					],
				};
				function genData(count) {
					// prettier-ignore
					const legendData = [];
					const seriesData = [];
					let o = Object.keys(h.context), s = 0;
					for (var i = 0; i < o.length; i++) {
						s += h.context[o[i]];
					}
					for (var i = 0; i < o.length; i++) {
						var name = opcodes[o[i]] || o[i];
						legendData.push(name);
						seriesData.push({
							name: name + '  ' + (h.context[o[i]] / s * 100).toFixed(1) + "%",
							value: h.context[o[i]],
						});
					}
					var infotext = h.infotext
					console.log(infotext);
					document.getElementById('r').innerHTML =
						// "不含圆形积木数:"+h.noreturn+"<br>"+
						"<mdui-chip>变量数:" + infotext.variables + "个</mdui-chip>"
						+ "<mdui-chip>列表数:" + infotext.lists + "个</mdui-chip>"
						+ "<mdui-chip>广播数:" + infotext.broadcasts + "个</mdui-chip>"
						+ "<mdui-chip>总块数:" + infotext.blocks + "块</mdui-chip>"
						+ "<mdui-chip>插件数:" + infotext.extensions + "个</mdui-chip>";
					return {
						legendData: legendData,
						seriesData: seriesData,
						total: s
					};
				}

				option && myChart.setOption(option);
			}
		</script>